#app {
  background: #f0f0f0;
  color: #2d3339;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  word-spacing: 1px;
}
#app.home {
  background: #fff url(../images/bkg.png) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  h1,
  h2,
  h3 {
    margin-bottom: 20px;
  }
  p,
  ul {
    margin-bottom: 20px;
    li {
      margin-bottom: 10px;
    }
  }
}