ErrorDocument 404 /404.html

# Actividades
Redirect 301 /actividades/codeweek-2015-murcia https://www.programoergosum.es/actividades/codeweek-murcia

# Actividades -> Blog
Redirect 301 /actividades/master-class-murcia https://www.programoergosum.es/blog/master-class-murcia
Redirect 301 /actividades/hourofcode-2015-murcia https://www.programoergosum.es/blog/hourofcode-2015-murcia
Redirect 301 /actividades/hackathon-familiar-murcia https://www.programoergosum.es/blog/hackathon-familiar-murcia
Redirect 301 /actividades/scratch-day-murcia https://www.programoergosum.es/blog/scratch-day-murcia
Redirect 301 /actividades/104-aprende-a-programar-con-minecraft-ies-el-carmen-murcia https://www.programoergosum.es/blog/aprende-a-programar-con-minecraft-ies-el-carmen-murcia

# Blog
Redirect 301 /blog/221-participo-luego-existo-un-concurso-en-el-que-todos-ganan https://www.programoergosum.es/blog/participo-luego-existo-un-concurso-en-el-que-todos-ganan
Redirect 301 /blog/194-entrevistamos-a-diego-ninja-de-coderdojo-murcia https://www.programoergosum.es/blog/entrevistamos-a-diego-ninja-de-coderdojo-murcia
Redirect 301 /blog/193-entrevistamos-a-ana-ninja-de-coderdojo-murcia https://www.programoergosum.es/blog/entrevistamos-a-ana-ninja-de-coderdojo-murcia
Redirect 301 /blog/191-entrevista-a-manolo-ninja-de-coderdojo-murcia https://www.programoergosum.es/blog/entrevistamos-a-manolo-ninja-de-coderdojo-murcia
Redirect 301 /blog/190-entrevista-a-pepe-ninja-de-coderdojo-murcia https://www.programoergosum.es/blog/entrevistamos-a-pepe-ninja-de-coderdojo-murcia
Redirect 301 /blog/192-presentes-en-simo-educacion-2016 https://www.programoergosum.es/blog/presentes-en-simo-educacion-2016
Redirect 301 /blog/185-asistimos-a-la-primera-sesion-de-coderdojo-en-san-javier-murcia https://www.programoergosum.es/blog/asistimos-a-la-primera-sesion-de-coderdojo-en-san-javier-murcia
Redirect 301 /blog/182-presentacion-del-nuevo-curso-de-coderdojo-2016-2017 https://www.programoergosum.es/blog/presentacion-del-nuevo-curso-de-coderdojo-2016-2017
Redirect 301 /blog/152-programacion-orientada-a-objetos-con-scratch https://www.programoergosum.es/blog/programacion-orientada-a-objetos-con-scratch
Redirect 301 /blog/136-curso-de-programacion-en-minecraft-en-murcia https://www.programoergosum.es/blog/curso-de-programacion-en-minecraft-en-murcia
Redirect 301 /blog/129-aprendiendo-a-programar-videojuegos-con-python-en-murcia https://www.programoergosum.es/blog/aprendiendo-a-programar-videojuegos-con-python-en-murcia
Redirect 301 /blog/128-semana-tecnologica-en-el-ies-juan-carlos-i https://www.programoergosum.es/blog/semana-tecnologica-en-el-ies-juan-carlos-i
Redirect 301 /blog/89-cronica-hackathon-coderdojo-murcia-13-febrero https://www.programoergosum.es/blog/cronica-hackathon-coderdojo-murcia-13-febrero
Redirect 301 /blog/149-con-nuestros-compis-de-la-asociacion-byl-inedu https://www.programoergosum.es/blog/con-nuestros-compis-de-la-asociacion-byl-inedu
Redirect 301 /blog/140-encuentro-de-coderdojo-espana-en-valencia https://www.programoergosum.es/blog/encuentro-de-coderdojo-espana-en-valencia
Redirect 301 /blog/126-aprendiendo-electronica-con-kiwibot-en-murcia https://www.programoergosum.es/blog/aprendiendo-electronica-con-kiwibot-en-murcia
Redirect 301 /blog/117-i-encuentro-de-coderdojo-espana-en-medialab-prado-madrid https://www.programoergosum.es/blog/i-encuentro-de-coderdojo-espana-en-medialab-prado-madrid
